@model reservation_tracker.Models.ViewModels.Reservations.ReservationIndexPageViewModel

@{
    ViewData["Title"] = "Reservations";

    // Past/current reservations helper
    var title = string.Equals(Model.Scope, "past", StringComparison.OrdinalIgnoreCase)
    ? "Past Reservations" : "Current Reservations";

}

<h1>@title</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@await Html.PartialAsync("_ReservationsTable", Model)


